<h1>Burgers</h1>

<h2>Burgers that have been eatten</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you can order</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Order?</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Will you eat it right away?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes!<br>
    <input type="radio" name="devoured" value="0"> I'll save it for later.
  </div>

  <button type="submit">Order up!</button>
</form>
